@model IEnumerable<TilausJärjestelmä.Models.TilausViewModel>

@{
    ViewBag.Title = "Index";
}



<div class="d-flex">
    <h2>Tilaukset</h2>
    <a class="btn btn-secondary my-2 my-sm-2" href="~/TilausHallinta/TilauksenLuonti" style="margin-left: 80%">Luo Uusi Tilaus</a>
</div>
<br />

@{
    int i = 0;
}

@foreach (var item in Model)
{

    string heading = "heading" + i.ToString();
    string collapseId = "collapse" + i.ToString();
    string parrent = "parrent" + i.ToString();
    <div class="accordion" id="@parrent">
        <div class="accordion-item">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Asiakas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hinta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Toimitusosoite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Postinumero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Postitoimipaikka)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tilauspvm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Toimituspvm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TilausID)
                            </th>
                        </tr>
                    </thead>
                    <tbody style="color: green">
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Asiakas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hinta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Toimitusosoite)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Postinumero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Postitoimipaikka)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tilauspvm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Toimituspvm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TilausID)
                            </td>
                        </tr>
                    </tbody>
                </table>

            </button>

            <div id="@collapseId" class="accordion-collapse collapse" aria-labelledby="@heading" data-bs-parent="#@parrent" style="">
                <div class="accordion-body">
                    @Html.Action("Tilausrivit", new { id = item.TilausID })
                    <a class="btn btn-secondary col-12" @Html.ActionLink("Poista Tilaus", "Delete", new { id = item.TilausID })
                </div>
            </div>
        </div>


    </div>
    i++;
}