@model IEnumerable<TilausJärjestelmä.Models.TilausRiviVM>

@{
    ViewBag.Title = "Tilausrivit";
}

<h2>Tilausrivit</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tuote)
        </th>
        <th>
            Määrä
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ahinta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TilausriviID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ahinta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TilausriviID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TilausriviID }) |  @*tarkista nämä*@
                @Html.ActionLink("Details", "Details", new { id = item.TilausriviID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TilausriviID })
            </td>
        </tr>
    }

</table>

<p>
    <a class="btn btn-secondary col-1" @Html.ActionLink("Takaisin", "Index") @*tee buttoniksi*@
</p>