@model TilausJärjestelmä.Models.Tuotteet

@{
    ViewBag.Title = "Delete";
}



<h3>Haluatko varmasti poistaa tuotteen?</h3>
<div>
    <h2>Tuote</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuva)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" name="Delete" class="btn btn-primary col-1" />
            <a class="btn btn-secondary col-1" href="~/Asiakkaats/Index">Takaisin</a>
        </div>
    }
</div>
